<html>
    <head>
        <title>My first blog</title>
    </head>
    <body>
        <div>
        	<h1><a href=""> My DjangoGirls Blog </a></h1>
        </div>
        <br />
        <div>
        	<p> published: 10.12.2016, 16:26</p>
	        <h2><a href="">My first post</a></h2>
	        <p>Post taki ciekawy, wow.</p>
        </div>
        <br />
        <div>
        	<p>published: 10.12.2016, 16:26</p>
        	<h2><a href="">My second post</a></h2>
        	<p>Kolejny super post.</p>
        </div>
    </body>
</html>